@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: rgb(196, 201, 200);
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #2b2b30;
}

.a{
color: #000;
text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: blue;
}

a:visited{
    color: grey;
}

.btn{
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.container{
    max-width: 850px;
    margin: auto;
    padding-top: 30px;
}
.avatar{
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,25);
}

.descOk{
    font-style: italic;
}

.change {
    font-weight: bold;  
} 

.propone{
    border: 2px solid darkgrey;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: flex;
}
.blocktwo{
margin-left: 30px;
}

.propone{
border: 2px solid darkgrey;
border-radius: 10px;
background-color: #d1d6e0;
}

@media (max-width: 650px){
    .propone{
        display: block;
        text-align: center;
    }
}

.proptwo{
    border: 2px solid darkgrey;
    border-radius: 10px;
    background-color: #d1d6e0;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.propthree{
    border: 2px solid darkgrey;
    border-radius: 10px;
    background-color: #d1d6e0;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.propfour{
    border: 2px solid darkgrey;
    border-radius: 10px;
    background-color: #d1d6e0;
    padding: 15px 20px;
    margin-bottom: 10px;
}
.propfour li{
  color: blue;
}

.form{
    border: 2px solid darkgrey;
    border-radius: 10px;
    background-color: #d1d6e0;
    padding: 15px 20px;
    margin-bottom: 10px; 
}

.list {
    padding: 0 20px;
 }

.list li {
    color: #86898f;
    margin-bottom: 10px;
}
.link-list{
    list-style: none;
    padding: 0;
}

.link-list li{
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.table{
    width: 100%;
}

.table td{
    padding-bottom: 10px;
}

.table td:nth-child(2),.table td:nth-child(3){
    color: #86898f;
}

.form h3{
text-align: center;
}

.formrow{
   margin-bottom: 10px;
   display: flex;
}

.formrow .form_group{
display: inline-block;
margin-right: 20px;
width: 50%;
}

/* media */

@media (max-width: 650px){
    .formrow{
        display: block;
    }

    .formrow .form_group{
        width: 100%;
        margin-right: 0;
    }
}

.form_group label{
display: block;
font-size: 14px;
color:  #86898f;
}

.formrow .form_group{
    margin-right: 0;
}

.form_group input,.form_group input{
width: 100%;
box-sizing: border-box;
border: none;
background: transparent;
border-bottom: 1px solid #ccc;
color: #000;
padding: 15px 0 10px;
outline: none;
font-family: inherit;
}







